* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 5.333em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 3.333em;
}
h4 {
    font-size: 2.667em;
}
h5 {
    font-size: 2.333em;
}
p {
    font-family: 'Abel', sans-serif;
}
body {
    background-color: #E6E6E6;
    margin: 0 auto;
    padding: 0;
}
.container {
    margin: 0 auto;
}

.codeup-design-text>p {
    font-size: 3.333em;
}

@media (min-width: 576px) and (max-width: ) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
