:root {

}
* {
    box-sizing: border-box;
}
body {
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
}
h1 {
    font-size: 5.333em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 3.333em;
}
h4 {
    font-size: 2.667em;
}
h5 {
    font-size: 2.333em;
}
h6 {
    font-size: 1.5em
}
span,p {
    font-family: 'Abel', sans-serif;
    margin: auto;
    padding: auto;
    text-align: center;
}
.bg-red {
    background-color: #E6563B;
}

.bg-green {
    background-color: #7CB06C;
}

.bg-teal {
    background-color: #00ABA9;
}

.bg-orange {
    background-color: #EB9D3A;
}
.bg-white {
    height: 70px;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
    right:0;
}
.codeup-design-text>p {
    font-size: 2.333em;
}
.border-top {
    border-top: 2px solid #cccccc!important;
}

main {
    margin: 0 auto;
}

.the-last-column {
    padding: 0;
    min-width: 200px;
    max-width: 200px;
}

.featured-project {

    max-width: 520px;
}

.selected-work {

    max-width: 520px;
}

.featured-project>li {
    padding: .5em;
}
.featured-project>p {
    font-size: small;
}

@media (min-width: 0px) and (max-width: 576px){
    .container {
        min-width: 350px;
        max-width: 450px;
    }
    .border-top {
        border-top: 0px solid #cccccc!important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 765px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 950px;
    }

    main {
        max-width: 735px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
}
.lH {
    line-height: 4em;
}

.design,.develop,.support,.host {
    width: 105px!important;
    height: 105px!important;
    border: 5px solid #F0F0F0;
    color: #F0F0F0;
}
.lastPhotos {
    width: 50px;
    height: 50px;
}

.lastTweet {
    width: 35px;
    height: 35px;
}

.tweet {
    font-size: .7em;
}

.list-group-item {
    border: none!important;
    background-color: transparent!important;
}
.badges {
    width: 18px;
    height: 18px;
}

.lHS {
    text-align: center;
    line-height: 1.25em;
}

.content-1,.content-2,.content-3,.content-4 {
    max-width: 260px;!important;
}
.img-thumbnail {
    height: 140px;
    width: 250px;
}